@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 2rem 2rem 2rem;
}


.area {
    padding: 1.4rem 1.2rem;
    width: 100%;
}

.area.one{
    background-color: white;
    color: hsl(218, 22%, 67%);
}

.area.two{
    background-color: #2bb3b1;
    color: white;
    padding-bottom: 2.5rem;
}

.area.three{
    background-color: #4abebd;
    color: #e0ebf2;
    
}

h1 {
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
    color: hsl(179, 62%, 43%);
}

h3 {
    color:  hsl(71, 73%, 54%);
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

h2 {
    color:  #fff;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

p{
    line-height: 1.8;
    font-size: 0.9rem;
    text-align:initial;
    margin-bottom: 0.5rem;
}

.two .pbut{
    margin-bottom: 2rem;
} 

span{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.two a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: hsl(71, 73%, 54%);
    padding: 1rem 6.4rem;
    border-radius: 5px;
    box-shadow: 0 6px 20px #31706f;
}

ul{
    line-height: 1.4;
    font-size: 0.9rem;
    text-align:initial;
    margin-bottom: 0.5rem;
    list-style: none;
    padding: 0;
    color: hsl(204, 43%, 93%);
}


@media (min-width: 700px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 13.5rem 16rem;
        max-width: 635px;
        height: 500px;
    }

    .area{
        padding: 2.5rem 2.5rem;

    }

    .one{
        grid-column: 1 / 3;
        border-radius: 10px 10px;
    }

    
    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    p{
        font-size: 1rem;
    }

    .two{
        height: 100%;
        border-radius: 0 0 0 10px;
    }

    .two a{
        padding: 0.8rem 5rem;
        cursor: pointer;
    }

    .three{
        height: 100%;
        border-radius: 0 0 10px 0;
    }

    footer{
        position: absolute;
        bottom: 0;
    }

}
